extends layout
block content
 
  div.form
    form(method='POST' action='/users/eliminato')
        div
        label(for='Unit') Unit:
        input(type='text', placeholder='Unit name' name='Unit')
        br
        br
        
        br
        br
        br
        button(type='submit') Invia